<section class="single_users_container">
  <%= render partial: "shared/user", locals: {user: @user || "No users found"} %>

  <div class="user_bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <% @recent_posts.each do |post| %>
    <%= render partial: 'shared/post', locals: { post: post } %>
  <% end %>
</section> 
