<section class="all_posts_container">
  <%= render partial: "shared/user", locals: {user: @user || "No users found"} %>
  <% @posts.each do |post| %>
    <%= render partial: 'shared/post', locals: { post: post } %>
    <div class="recent_comments_container">
      <% post.recent_comments.each do |comment| %>
        <%= render partial: 'shared/comment', locals: { comment: comment } %>
      <% end %>
    </div>
  <% end %>
</section>