.log_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.log_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.log_container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.log_container form div input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
