.post_details_container {
  gap: 1em;
  padding: 1em;
  display: flex;
  margin: 1.4em 0;
  border: 3px solid;
  flex-direction: column;
}

.all_posts_container {
  padding: 4em 6em;
}

.post_stats {
  gap: 2em;
  display: flex;
  align-self: flex-end;
}

.all_posts_container > .post_details_container {
  margin-bottom: 0.2em;
}

.recent_comments_container {
  gap: 0.4em;
  display: flex;
  padding: 1em;
  border: 3px solid;
  flex-direction: column;
}

.comment_details_container {
  gap: 1em;
  display: flex;
}

.active {
  color: red;
}

.full_post_container {
  padding: 4em 6em;
}

.full_comments_container {
  gap: 0.4em;
  padding: 1em;
  display: flex;
  border: 3px solid;
  flex-direction: column;
}

.full_post_container > .post_details_container {
  margin-bottom: 0.2em;
  gap: 0;
}

.full_post_container .post_text {
  order: 1;
  display: flex;
  margin-top: 1em;
}

.new_post_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  gap: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title,
.form_text {
  padding: 1em;
  width: 60vw;
  border: 3px solid;
}

.form_title {
  height: 10vh;
}

.form_text {
  height: 50vh;
}

.form_title::placeholder,
.form_text::placeholder {
  padding: 1em;
}
