.full_post_container {
  padding: 4em 6em;
}

.full_comments_container {
  gap: 0.4em;
  padding: 1em;
  display: flex;
  border: 3px solid;
  flex-direction: column;
}

.full_post_container > .post_details_container {
  margin-bottom: 0.2em;
  gap: 0;
}

.full_post_container .post_text {
  order: 1;
  display: flex;
  margin-top: 1em;
}