.all_users_container {
  padding: 4em 6em;
}

.all_users_container > div {
  display: grid;
  gap: 2em;
}

.user_details_container {
  display: flex;
  width: 100%;
  gap: 3em;
  height: 18vh;
  align-items: center;
}

.user_img {
  border: 3px solid;
  text-align: center;
  display: flex;
  height: 100%;
}

.user_img img {
  width: 100%;
}

.user_highlight {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em 2em;
  border: 3px solid;
  flex-direction: column;
}

.user_highlight h2 {
  font-size: 2.5em;
}

.user_highlight p {
  font-size: 1.5em;
  align-self: flex-end;
}

.single_users_container {
  padding: 4em 6em;
}

.user_bio {
  gap: 1.3em;
  display: flex;
  margin: 2em 0;
  border: 3px solid;
  padding: 1.8em 1.2em;
  flex-direction: column;
}

.btn {
  display: flex;
  border: 3px solid;
  padding: 1em 2.5em;
  box-shadow: 3px 3px;
  align-items: center;
  justify-content: center;
}

.btn a {
  font-size: 1.2em;
  font-weight: 700;
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 5em;
}
